.destinationBgImg {
    background-image: url('/assets/destination/background-destination-desktop.jpg');
    background-size: 100% 100%;
    min-height: 100vh;
    overflow: hidden;
}
@media (max-width: 768px) {
    .destinationBgImg {
        background-image: url('/assets/destination/background-destination-tablet.jpg');
        background-size: 100% 100%;
    }
}

@media (max-width: 375px) {
    .destinationBgImg {
        background-image: url('/assets/destination/background-destination-mobile.jpg');
        background-size: 100% 100%;
    }
}