@media (min-width: 768px) {
    .outlet {
        max-width: 1000px;
        margin: 1.5rem auto;
        column-gap: 10rem;
    }
    .outlet img {
        width: 50%;
    }
}
@media (max-width: 1000px) {
    .outlet {
        column-gap: 3rem;
    }
}

.outlet {
    animation: opacity 2s;
}
@keyframes opacity {
    from{opacity: 0;}
    to{opacity: 1;}
}

.outlet img {
    animation: rotate 5s linear 1s infinite;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}