@media (min-width: 375px) {
    .navigation {
        align-self: center;
    }
    .lists-link {
        border-bottom: 1px solid transparent;
    }
    .lists-link:has(a:hover)  {
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    .lists-link:has(.active) {
        border-bottom: 1px solid rgb(255, 255, 255);
    }
    .nav-ul-lists > .lists-link {
        padding: 2rem 0;
        margin: 0 1rem;
    }
}
@media (min-width: 460px) {
    .nav-ul-lists {
        padding: 0 2rem;
    }
}
@media (min-width: 768px) {
    header {
        position: fixed;
    }
}
header {
    width: 100%;
}
.line {
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.logo {
    width: 33%;
}
.navigation {
    text-wrap-mode: nowrap;
}

@media (max-width: 900px) {
    .line {
        display: none;
    }
}
@media (max-width: 768px) {
    .logo {
        margin: 1rem;
    }
}
@media (max-width: 660px) {
    .logo {
        width: 100%;
    }
    .navigation {
        padding-left: 0;
    }
    .nav-ul-lists > .lists-link {
        font-size: 0.5rem;
    }
}
@media (max-width: 375px) {
    /* navigation */
    .navigation {
        width: 50%;
        justify-content: end;
        margin: 1rem;
    }
    .nav-ul-lists {
        position: absolute;
        right: 0;
        top: 0;
        left: 50%;
        min-height: 100%;
        background-color: grey;
        padding-top: 8rem;
        padding-left: 1rem;
        animation: left .3s;
        z-index: 1;
    }
    @keyframes left {
        from{left: 100%}
        to{left: 50%}
    }
    .nav-ul-lists > .lists-link {
        font-size: 1rem;
    }

    /* State Menu */
    .displayMenu {
        display: none;
    }
    .hamburger-menu {
        z-index: 1;
    }
}

/* Distances Navigation styles */
.destinationOutlet a {
    display: inline-block;
}
.destinationOutlet a:hover {
    border-bottom: 1px solid #fff;
}
.destinationOutlet a {
    border-bottom: 1px solid transparent;
}
.destinationOutlet .active {
    border-bottom: 1px solid #fff;
}

@media (min-width: 768px) {
    .destinationOutlet {
        position: relative;
        left: 58%;
    }
}